@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header-hero {
    background-color: #1F2937;
    padding: 20px 10%;
}

.header-hero .header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header .main {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px
}

.header a {
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}

.information {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.information .main {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.information .secundary {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    margin-bottom: 15px;
}

.information button {
    padding: 5px;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    font-size: 18px;
    font-weight: bolder;
    color: #E5E7EB;
    width: 30%;
}

.hero .img-area {
    display: flex;
    background-color:gray;
    font-size: 18px;
    color: #E5E7EB;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.information-area .header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    align-items: center;
    margin: 50px 0;
}

.grid {
    display: flex;
    padding: 0 20%;
    gap: 6%;
    margin-bottom: 100px;
}

.card {
    flex-flow: column;
}

.card .img-area { 
    width: 100%;
    padding-top: 100%;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.card p {
    font-size: 16px;
    font-weight: lighter;
    color: #5D6877;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.quote-area {
    background-color: #E5E7EB;
    padding: 100px 22%;
}

.quote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.sub-quote p {
    text-align: end;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    margin: 0;
}

.call-area {
    padding: 100px 10%;
}

.call-area .container {
    display: flex;
    background-color: #3882F6;
    padding: 50px 10%;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 8px;
    border: 2px solid #3882F6;
}

.container .text {
    width: auto;
}

.text p {
    margin: 0;
    font-size: 24px;
    color: #F9FAF8;
}

.text .main {
    font-weight: bold;
}

.text .sub {
    font-weight: lighter;
    font-size: 18px;
}

.container button {
    padding: 5px 30px;
    border: none;
    border-radius: 8px;
    border: 2px solid white;
    background: #3882F6;
    font-size: 18px;
    font-weight: bolder;
    color: #E5E7EB;
    width: auto;
}

